/node_modules
/public/
/storage/*.key
/.idea
/vendor
Homestead.json
Homestead.yaml
/public/uploads
public/bg--2.txt
routes/web.bak
public/avia--5.txt
public/bng--1.txt
public/bng--2.txt
public/leg--7.txt
public/sw--2.txt
public/*.txt

public/usertable.json
